<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-app="myapp">
    <div ng-controller="MainCtrl" class="container">
        <h1>Select text file</h1>
        <label class="btn btn-primary btn-sm active">
            Select File&hellip;
            <input type="file" on-read-file="showContent($fileContent)" style="display: none;">
        </label>
        <div ng-if="content">
            <h2>Result</h2>
            <button type="button" class="btn btn-success btn-sm active" ng-click="save(answer)">Save file</button>
            <!--    <p>{{answer[0] }}</p>
            <p>{{ answer[1] }} </p> -->
        </div>
    </div>
    <!--     <div ng-controller="myCtrl">
        <input type="file" file-model="myFile" />
        <button ng-click="uploadFile()">Upload</button>
    </div> -->
    <script src="/angular/angular.js"></script>
    <script src="/js/main.js"></script>
    <script src="js/controller/uploadFile.controller.js" defer></script>
    <script src="js/directive/uploadFile.directive.js" defer></script>
<!--     <script src="js/service/uploadFile.service.js" defer></script> -->
    <script src="/file-saver/FileSaver.js"></script>
</body>

</html>
